.left-side {
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Vertically center */
  left: 25%; /* Horizontally center */
  transform: translate(
    -50%,
    -50%
  ); /* Shift content back by 50% to center correctly */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ccd6f6;
  max-width: 350px;
}

.main-title {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #ccd6f6;
}

.sub-title {
  font-size: 1.2rem;
  line-height: 0.8rem;
  color: #ccd6f6;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #8892b0;
  margin-bottom: 50px;
  line-height: 1.6;
}

.nav-menu {
  margin-bottom: 100px;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-item a {
  font-size: 1.1rem;
  color: #8892b0;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

.nav-item a:hover {
  color: #64ffda;
}

.nav-item.active a {
  color: #64ffda;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.social-icons a {
  color: #ccd6f6;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #64ffda;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: 20px 0;
  position: relative;
}

.nav-link {
  color: #8892b0;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #64ffda;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #64ffda;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-item.active .nav-link {
  color: #64ffda;
}

.nav-item.active .nav-link::before {
  width: 100%;
}
